body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: #161722;
  overflow: hidden;
  letter-spacing: .5px;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style-type: none;
}

.bg-image {
  width: 100%;
  height: 38vh;
  z-index: -1;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.25rem;
}

.icon::before {
  content: '';
  width: 0.625rem;
  height: 0.625rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.theme-icon::before {
  width: 1rem;
  height: 1rem;
  background-image: url("../images/icon-sun.svg");
}

.todo-status-icon::before {
  background-image: url("../images/icon-check.svg");
}

.todo-cross-icon::before {
  width: 1rem;
  height: 1rem;
  background-image: url("../images/icon-cross.svg");
}

.todo-container {
  margin: auto;
  width: 45%;
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
}

.todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.todo-header h1 {
  margin: 0;
  letter-spacing: 0.5rem;
}

.todo-input-wrapper,
.todo-list-wrapper {
  display: flex;
  background-color: #393a4c;
  color: #cacde8;
  border-radius: 0.25rem;
}

.todo-input-wrapper .todo-status-icon,
.todo-list-wrapper .todo-status-icon {
  margin-right: 0.5rem;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 50%;
  position: relative;
}

.todo-input-wrapper .todo-status-icon::before,
.todo-list-wrapper .todo-status-icon::before {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.todo-input-wrapper {
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.todo-input-wrapper input {
  border: none;
  background-color: transparent;
  color: #cacde8;
  flex: 1 auto;
}

.todo-input-wrapper input:focus {
  outline: 0;
}

.todo-list-wrapper {
  flex-direction: column;
}

.todo-list-wrapper ul {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  overflow-y: auto;
}

.todo-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #777a92;
  padding: 1rem;
  cursor: grab;
}

.todo-list-item.hide {
  display: none;
}

.todo-list-item .todo-status-icon::after {
  content: '';
  display: inline-block;
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  background-color: #393a4c;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.todo-list-item:not(.completed) .todo-status-icon:hover {
  background-image: linear-gradient(#57ddff, #c058f3);
  border: none;
}

.todo-list-item:not(.completed) .todo-status-icon:hover::after {
  visibility: visible;
}

.todo-list-item.completed {
  color: #777a92;
}

.todo-list-item.completed .todo-status-icon {
  background-image: linear-gradient(#57ddff, #c058f3);
  border: none;
}

.todo-list-item.completed .todo-status-icon::before {
  visibility: visible;
}

.todo-list-item.completed .todo-item-content {
  text-decoration: line-through;
}

.todo-list-item .todo-item-content {
  flex: 1 auto;
}

.todo-list-item .icon {
  cursor: pointer;
}

.todo-list-item .todo-cross-icon {
  visibility: hidden;
}

.todo-list-item:hover .todo-cross-icon {
  visibility: visible;
}

.todo-action-wrapper {
  display: none;
  color: #777a92;
  font-size: 14px;
  padding: 1rem;
}

.todo-action-wrapper.show {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-action-wrapper a {
  color: #777a92;
  text-decoration: none;
  margin: 0 0.25rem;
}

.todo-action-wrapper a.selected {
  color: #3e52a3;
}

.todo-action-wrapper a:hover {
  color: #fff;
}

.todo-action-wrapper .clear-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  color: inherit;
}

.todo-action-wrapper .clear-btn:hover {
  color: #fff;
}

.todo-action-wrapper em {
  font-style: normal;
}

.info {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
}
